<div-main-content-area>
    <div class="main-content-container">
        <div class="main-content">
            <div class="row">

                <div class="col-md-3 bg-primary">
                    <div class="card text-white text-center">
                        <h1><%= @user_count %></h1>
                        <p>Usuarios</p>
                    </div>
                </div>

                <div class="col-md-3 bg-warning">
                    <div class="card text-white text-center">
                        <h1><%= @gig_count %></h1>
                        <p>Avisos</p>
                    </div>
                </div>

                <div class="col-md-3 bg-success">
                    <div class="card text-white text-center">
                        <h1><%= @order_count %></h1>
                        <p>Ordenes</p>
                    </div>
                </div>

                <div class="col-md-3 bg-danger">
                    <div class="card text-white text-center">
                        <h1><%= @categories_count %></h1>
                        <p>Categorías</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div-main-content-area>