<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <%= image_tag avatar_url(comment.user), class: "is-rounded" %>
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong><%= comment.user.id == current_user.id ? "Yo" : comment.user.nombre %></strong>
                <small class="is-pulled-right"><%= time_ago_in_words_es(comment.created_at) %></small>
                <br>

            </p>
        </div>
    </div>
</article>