// Submit Coupon Form Fields
.submit-coupon-sec{
	padding-top: 70px;
	form{
		.form-group{
			label{
				color: #666;
				font-size: 15px;
				font-weight: bold;
			}
			.form-control{
				background: #fff;
			}
			.input-group{
				input{
					border-right: none;
					&:focus + .input-group-addon{
						border: 1px solid #007bff;
					}
				}
				.input-group-addon{
					background: #fff;
					i{
						font-size: 15px;
						color: #848484;
						padding-right: 8px;
					}
					border-left: none !important;
				}
			}
		}
		.coupon-type{
			padding: 40px 0 22px 0;
			ul.coupon-types{
				li{
					margin-right: 10px;
					cursor: pointer;
		/*			@include tablet {
						margin: 5px;
					}				*/
					a{
						color: #007bff;
						display: block;
						font-size: 14px;
						text-decoration: none;
						padding: 25px 0;
						width: 170px;
						text-align: center;
						border: 1px solid #007bff;
						-webkit-border-radius: 3px;
						        border-radius: 3px;
						i{
							display: block;
							text-align: center;
							font-size: 40px;
						}
					}
					&.active{
						a{
							background: #007bff;
							color: #fff;
						}
					}
				}
			}
		}
		button{
			margin-top: 10px;
		}
	}
	p{
		margin: 70px 0 0 0;
		font-size: 14px;
		line-height: 26px;
		color: #848484;
		letter-spacing: 0.01em;
		a{
			color: #007bff;
			text-decoration: underline;
		}
	}
}