@import 'variables.scss';

@import 'media-queries.scss';

@import 'typography.scss';

@import 'tabs.scss';

@import 'lists.scss';

@import 'common.scss';

@import 'backgrounds.scss';

@import 'navigation.scss';

@import 'hero-area.scss';

@import 'category-slider.scss';

@import 'user-dashboard.scss';

@import 'homepage.scss';

@import 'category.scss';

@import 'products.scss';

@import 'widgets.scss';

@import 'header.scss';

@import 'call-to-action.scss';

@import 'store.scss';

@import 'store-single.scss';

@import 'submit-coupon.scss';

@import 'blog.scss';

@import 'popup.scss';

@import 'ad-listing.scss';

@import 'ad-list-view.scss';

@import 'terms-condition.scss';

@import 'package.scss';

@import 'about-us.scss';

@import 'contact-us.scss';

@import '404.scss';

@import 'footer.scss';

@import 'noty/lib/noty';
@import 'noty/lib/themes/sunset';


$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }

  
.h-#{$space} {
  margin-top: #{$space}px !important;
}

}




.is-horizontal-center {
  justify-content: center
}

.small-title {
  font-size: 10px;
}

.star-review {
  color: #ffbf00;
  font-size: 13px;
  font-weight: 600;
}

.dropzone {
  border: 2px dashed #0087f7 !important;
  border-radius: 5px;
  background: white;
}

.dropzone .dz-message {
  font-weight: 400;
}

.dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}